.home {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    margin: 2rem auto;
    padding: 2rem;
    border-radius: 30px;

    max-width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 100, 0.2);

    background: var(--white);
}